<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
  <head>
    <meta charset="UTF-8" />
    <title>Nova Questão</title>
    <link rel="stylesheet" href="/css/criar-questao.css" />
  </head>
  <body th:style="'background-color:' + ${BackGroundColor}">
    <header>
      <div class="logo">
        <img
          src="/imagens/unisales logo vertical.png"
          height="100"
          width="170"
          alt="Logo do Unisales"
        />
      </div>
    </header>

    <main class="container">
      <h2>Questão [[${index}]] de [[${NumeroQuestoes}]]</h2>

      <div class="pergunta-card">
        <label for="enunciado"><strong>Enunciado:</strong></label>
        <textarea
          id="enunciado"
          name="enunciado"
          placeholder="Digite o enunciado da pergunta..."
          rows="3"
        ></textarea>

        <label for="imagem-pergunta"
          ><strong>Imagem da pergunta (opcional):</strong></label
        >
        <input
          type="file"
          id="imagem-pergunta"
          name="imagem-pergunta"
          accept="image/*"
        />

        <hr />

        <button class="add-btn" onclick="adicionarResposta()">
          Adicionar Resposta
        </button>
        <div id="respostas-container" class="respostas-grid"></div>
      </div>
    </main>

    <div class="rodape">
      <p>Desenvolvido por: Sirius Kamphorst UNISALES</p>
    </div>

    <script src="/js/criar-questao.js"></script>
  </body>
</html>
