<!DOCTYPE html>
<html lang="pt-BR">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Home - Questionários</title>
    <link rel="stylesheet" href="../css/home.css" />
  </head>
  <body>
    <header>
      <div class="logo">
        <img
          src="../imagens/unisales logo vertical.png"
          height="100px"
          width="100px"
        />
      </div>
      <div class="counter">
        Questionários Criados: <span id="questionario-count">0</span>
      </div>
      <div class="search-bar">
        <input type="text" id="search" placeholder="Buscar questionário..." />
      </div>
    </header>

    <main>
      <div class="bodycard">
        <div class="cards-container" id="cards-container">
          <a class="add" href="criar-questionario"
            ><div class="card add-card"><p>+</p></div></a
          >
        </div>
      </div>
      <br />
    </main>

    <!-- Rodapé fora do main -->
    <div class="rodape">
      <p>Desenvolvido por: Unisales</p>
    </div>

    <script src="../js/home.js"></script>
  </body>
</html>
